<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%= @new_category.name %>
</p>

<p>
  <strong>Descripcion:</strong><br>
  <%= @new_category.description %>
</p>


<style>
strong
{
  color:#428bca;
  font-size: 22px;
}
  
</style>