<div class="container">
<div class="row">
<div class="col-md-12">
	<div class="text-center page" style="">   
<img  class = "img-responsive" style = "display:inline-block;width:500px;" src="../../images/logo.png" alt="">
	<h1 style = "font-size: 50px;
    color: #517284;
">¡PÁGINA EN CONSTRUCCIÓN!</h1>


<h1 style = "font-size: 35px;    color: #517284;
">CONTACTANOS</h1>

<h1 style = "font-size: 26px;    color: #5e9bbb;
"><i class="fa fa-envelope" aria-hidden="true"></i>

churtado@sigmaip.co
</h1>

<h2 style = "font-size: 26px;    color: #5e9bbb;
"><i class="fa fa-mobile" aria-hidden="true"></i> +57 350 7070746 

</h1>
<h2 style = "font-size: 26px;    color: #5e9bbb;
"><i class="fa fa-phone" aria-hidden="true"></i>
+574 2985861
</h1>
<h2 style = "font-size: 26px;    color: #5e9bbb;
">Medellín - Colombia    
</h1>

</div>

</div>
	
</div>
	
</div>


<style>
h2
{
	color:gray;
}
.page
{
	width:80%;margin-left: 10%;text-align: center;margin-top: 5%
}
	@media only screen and (max-width: 500px) {
		.page
		{
			width:100%;margin-left: 0%;text-align: center;margin-top: 5%
		}
}
   
}
</style>

