/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require chosen
 *= require_tree .
 *= require_self
 */


.login1
    {
    margin-top:10px;    
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px !important;
    padding-right: 50px  !important;
       background: white;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
      p
      {
        padding:10px;
      }

    }




.sign_form
{
  margin-top:30px;
}

.titulo-form
{
  font-family: 'Rajdhani', sans-serif;
    text-align:center;
    font-size: 2em;
    margin: 0px;
       
    color: #b9b9b9;
}

.margin-top-40
{
  margin-top: 40px;
}

.title-h2
{

    color: gray;
    font-weight: bold;
    margin-left: 25px;
    font-size: 22px;
  font-family: 'Rajdhani', sans-serif;


}

.label-primary {
    background-color: #5e9bbb !important;
}


  
  .ck
{
   width: 35px !important;
    height: 35px !important;

}
